
<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<%- include ('../partials/messages') -%>

<div class="jumbotron" style="background: none !important; padding: 20px; margin: 0px; display: inline-block;">
  <div class="">
      <a class="btn btn-secondary" href="/profile/<%= user.id %>">Back</a>
  </div>
</div>


<div class="jumbotron" style="background: none !important; padding-top: 20px;">
  <div class="container" style="border-style: solid; border-color: rgb(157, 157, 157); border-radius: .5em; border-width: 3px;">
    <form class="" action="/profile/<%=username.id%>/update" method="POST" enctype="multipart/form-data">
      <div class="row align-items-center" style="padding: 15px;">
        <div class="col">
          <h1 style="text-align:center"><%= user.name %> Profile</h1>
          <br>
          <div class="row form-group">
              <label>Account Email</label>
              <input class="form-control" type="text" name="email" placeholder="Username" value="<%=username.email%>" readonly><br>
          </div>
          <div class="row form-group">
            <label>Update Account Name</label>
            <input class="form-control" type="text" name="name" value="<%=username.name%>"><br><br>
          </div>
          <div class="row form-group">
            <button type="submit" class="btn btn-success btn-block" style="display: inline-block; margin: 5px;">
              Submit Changes
            </button>
          </div>
      </div>

      <div class="col" style="text-align: center; padding: 0px 30x 0px 0px;">
          <img id="preview" style="width: 100%; height: 100%; min-width: 200px; max-width: 250px; object-fit: cover; display: inline-block; align-items: center;" src="<%=user.profileImgURL%>">
          <div>
            <img id="previewNew"></img>
          </div>
          <div class="form-group">
            <div id="imageUploadButtons" class="form-group" style="margin-top: 10px;">
              <button id="changeUploadBtn" type="button" class="btn btn-danger" style="display: inline">Select to CHANGE image</button>
              <button id="removeUploadBtn" type="button" class="btn btn-danger" style="display: none;">Select to KEEP ORIGINAL image</button>
          </div>
            <input type="file" class="form-control" id="file" accept="image/*" name="file" style="display: none;">
            <span class="error"><p id="cover_error"></p></span>
            <span id="size"></span>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>

<script>


const changeUploadBtn = document.getElementById("changeUploadBtn");
const editImage = document.getElementById("preview");
changeUploadBtn.addEventListener("click", addUpload , false);

const removeUploadBtn = document.getElementById("removeUploadBtn");
removeUploadBtn.addEventListener("click", removeUpload , false);

function addUpload () {
    document.getElementById("preview").style.display = 'none';
    document.getElementById("previewNew").style.display = 'inline-block';
    document.getElementById('file').style.display = 'inline-block';
    document.getElementById('changeUploadBtn').style.display = 'none';
    document.getElementById('removeUploadBtn').style.display = 'inline-block';
    removeUploadBtn.addEventListener("click", removeUpload , false);
    document.getElementById('file').onchange = previewImg;

}

function removeUpload() {
    document.getElementById("preview").style.display = 'inline';
    document.getElementById("preview").style.width = '200px';
    document.getElementById('previewNew').style.display = 'none';
    document.getElementById('previewNew').src = '';
    document.getElementById('file').value = "";
    document.getElementById('size').innerHTML = "";
    document.getElementById('cover_error').innerHTML = "";
    document.getElementById('file').style.display = 'none';
    document.getElementById('changeUploadBtn').style.display = 'inline-block';
    document.getElementById('removeUploadBtn').style.display = 'none';
    changeUploadBtn.addEventListener("click", addUpload , false);
    document.getElementById('file').onchange = previewImg;

   
}

function hideUpload() {
    var x = document.getElementById("changeUpload");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }


document.getElementById('file').onchange = previewImg;
        // imgInput.addEventListener('change', function (e) {
function previewImg (e) {
            if (e.target.files) {
                let imageFile = e.target.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {

                    console.log("fileValidation Activated");
                    let fi = document.getElementById('file');
                    let imgPreview = document.getElementById('previewNew')
                    let size = document.getElementById('size')
                    if (fi.files.length > 0) {
                        for (let i = 0; i <= fi.files.length - 1; i++) {
            
                            const fsize = fi.files.item(i).size;
                            const file = Math.round((fsize / 1024));
                            // // The size of the file.
                            // if (file >= 2096) {
                            //     alert(
                            //     "File too Big, please select a file less than 2mb");
                            //     fi.value = "";
                            //     imgPreview.src = "";
                            //     size.innerHTML = "";
                            // } else {
                                input = document.getElementById("cover_error").innerHTML = "";
                                fi.style.borderWidth = ""
                                fi.style.borderColor = ""
                                document.getElementById('size').innerHTML = 'File size: <b>'
                                + file + '</b> KB';
                            // }
                         }
                    }


                    var img = document.createElement("img");
                    img.onload = function (event) {
                        // Dynamically create a canvas element
                        // var canvas = document.createElement("canvas");

                        // var canvas = document.getElementById("canvas");
                        // var ctx = canvas.getContext("2d");

                        // Actual resizing
                        var MAX_WIDTH = 300;
                        var MAX_HEIGHT = 300;

                        var width = img.width;
                        var height = img.height;

                        // Change the resizing logic
                        if (width > height) {
                            if (width > MAX_WIDTH) {
                                height = height * (MAX_WIDTH / width);
                                width = MAX_WIDTH;
                            }
                        } else {
                            if (height > MAX_HEIGHT) {
                                width = width * (MAX_HEIGHT / height);
                                height = MAX_HEIGHT;
                            }
                        }

                        var canvas = document.createElement("canvas");
                        canvas.width = width;
                        canvas.height = 300;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(img, 0, 0, width, height);

                        // Show resized image in preview element
                        var dataurl = canvas.toDataURL(imageFile.type);
                        document.getElementById("previewNew").src = dataurl;
                        document.getElementById("preview").setAttribute("style", "display: none");
                    }
                    img.src = e.target.result;
                }
                reader.readAsDataURL(imageFile);
            }
        };


</script>

<%- include('../partials/footer') -%>




