



<div class="jumbotron" style="background: none !important; padding: 20px 0px 0px 0px;">

    <div class="jumbotron" style="padding: 20px; border-style: solid; border-color: rgb(157, 157, 157); border-radius: .5em; border-width: 3px;">


        <form id="comments" method="POST" onsubmit="return doPost(this, '<%=recipe.id%>', '<%= user.profileImgURL %>');">
            <h4>Comments</h4>
            <input id="user" class="form-control" style="margin-top: 20px;" value="<%= user.name %>" readonly>
            <br>
            <div>
                <div class="grow-wrapComment">
                    <textarea id="comments" class="form-control stepGridArea" name="comments[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Leave a comment..."></textarea>
                </div>
                <div class="form-group" style="margin: 25px 0px 15px 0px">
                    <!-- <button class="btn btn-success btn-block" type="submit">SUBMIT</button> -->
                    <input type="submit" class="btn btn-success btn-block" value="POST COMMENT" />
                </div>

            </div>
        </form>

            <% for (var i = recipe.comments.length - 1; i >= 0; i--) { %>
                        <div class="second">
                            <div class="row" style="padding: 20px;">
                                <div class="col-10" style="padding: 0px 20px 20px">
                                    <span class="text1"><%= recipe.comments[i][1] %></span>
                                </div>
                                <div class="col" style="padding: 0px 20px 0px 20px;">
                                    <div class="col">
                                        <img src="<%= recipe.comments[i][3]  %>" style="width: 70px; border-radius: 4em;"><span class="text2"><%= recipe.comments[i][0] %></span>

                                    </div>
                                </div>
                                <div class="row" style="text-align: right; padding-top: 20px">
                                    <span class="text3"><%= recipe.comments[i][2]  %></span>
                                </div>
                            </div>
                        </div>
                <% } %>

</div>

<script>
    function doPost(form, recipeID, userProfileImg) {
        var now = new Date(Date.now());
        let formatted = now.toUTCString();
        $.ajax({
            url: "/recipes/" + recipeID + "/do-post",
            method: "POST",
            data: { comments: form.comments.value, username: form.user.value, date: formatted, userProfileImg: userProfileImg },
            // contentType: "application/json; charset=utf-8",
            // dataType: "json",
            success: function (data, textStatus, xhr) {
               if (xhr.status === 200 ) {
                    window.location = "/recipes/" + recipeID
                }
                },
                failure: function (response) {
                    alert( "THERE WAS AN ERROR SAVING COMMENT!!! PLEASE TELL YOUR ADMINISTRATOR" + ERROR + response);
                }
        });
        return false;
    }

</script>
