<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>


<!-- <h1 class="mt-4">Welcome <%= user.name %>!</h1> -->

<!-- <p class="lead mb-3">Welcome <%= user.name %>!</p> -->
<!-- <br> -->
<% if (user.role === "admin") { %>
    <p class="btn btn-secondary btn-block">Admin Page</p>
    <% } %>
<div class="jumbotron">
    <div class="container" style="border-style: solid; border-color: rgb(157, 157, 157); border-radius: .5em; border-width: 3px;">
        <div class="row align-items-center">

            <div class="col">
                <h1 class="display-4" style="text-align:center">Welcome <%= user.name %>!</h1>
                <p style="text-align:justify; padding: 15px;">Start sharing old recipes with family and friends! So you don't get stuck calling your aunt for that old recipe your grandma created on a beat up index card from the 1950's. </p>
                    <div style="text-align:center; padding: 5px;">
                        <a class="btn btn-warning btn-lg" href="/recipes" role="button" style="display: inline-block; margin-right: 1em; margin: .5em;">View Recipes</a>
                        <a href="/recipes/newForm" class="btn btn-success btn-lg" style="margin: .5em;">Add Recipe</a>
                    </div>
            </div>

            <div class="col">
                <img id="preview" style="width: 100%; height: 100%; min-width: 225px; max-width: 350px; object-fit: cover; display: inline-block; align-items: center;" src="<%=user.profileImgURL%>">
            </div>

           


        </div>
    
    </div>


   <br>
    <h2 style="margin-top: 10px; text-align: center; font-size: 1.5rem"><%= user.name %>'s Recipes</h2>
    <hr>
    <div class="container">
        <div class="flex-parent">
            <% for (var i = 0; i < recipes.length; i++) { %>
                <% if (recipes[i].author == user.name) { %> 
                    <div class="flex-item" style="text-align: center">
                        <a href="/recipes/<%= recipes[i].id %>">
                            <img class="thumbnail" src="<%= recipes[i].imageName %>">
                            <br>
                            <h8><%=recipes[i].recipeName%></h8>
                        </a>
                    </div>
                <% } %> 
            <% } %> 
      </div>
    </div>
    <hr class="my-4">
    
    <p class="lead">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </p>
  </div>








<%- include('./partials/footer') -%>



