<div>
    <label for="recipeName">Recipe Name</label>
    <input type="text" id="recipeName" class="form-control" placeholder="Recipe Name" value="<%=recipe.recipeName%>" name="recipeName"> <span class="error"><p id="recipeName_error"></p></span>
</div>

<div>
    <label for="author">Author</label>
    <input type="text" id="author" value="<%=user.name%>" name="author" readonly> <span class="error"><p id="author_error"></p></span>
</div>

<div>
    <h8>ALLERGENS </h8><p style="display: inline-block; color: grey; font-size:small"> (optional)</p>
    <br>
    <select name="allergens" id="allergens" class="selectpicker" multiple data-width="fit">
        <option id="a1" value="dairy">DAIRY</option>
        <option id="a2" value="fish">FISH</option>
        <option id="a3" value="gluten">GLUTEN</option>
        <option id="a4" value="nuts">NUTS</option>
        <option id="a5" value="shellfish">SHELLFISH</option>
        <option id="a6" value="eggs">EGGS</option>
        <option id="a7" value="meat">MEAT</option>
        </select>
</div>

<br>

<h8>Ingredients</h8>
    <hr>

<div id="divOlIngredients">
    <ol id="olIngredients">
        <div class="ingredients">
            <label>Ingredient</label>
            <label>Amount</label>
        </div>
        <span class="error"><p style="display: none" id="ingredients_0_error"></p></span>
        <span class="error"><p style="display: none" id="amount_0_error"></p></span>
        <% if (recipe.ingredients.length == 0 ) { %> 
            <li>
                <div class="ingredients">
                    <input id="ingredients_0" class="form-control ingGridArea" type="text" name="ingredients[]">
                    <input id="amount_0" class="form-control amountGridArea" type="text" name="amount[]">
                    <span id="add" onclick="addLine(this, getElementById('olIngredients'))">+</span>  
                    <span id="minus" onclick="removeField(this, getElementById('olIngredients'))">-</span>
                </div>
            </li>
        <% } else { %> 
        <% } %> 
        <% for (var i = 0; i < recipe.ingredients.length; i++) { %>
        <% const length = recipe.ingredients.length %> 
                <li>
                    <div class="ingredients">
                        <input id="ingredients_<%=i%>" class="form-control ingGridArea" type="text" name="ingredients[]" value="<%= recipe.ingredients[i] %>">
                        <input id="amount_<%=i%>" class="form-control amountGridArea" type="text" name="amount[]" value="<%= recipe.amount[i] %>">
                        <% if (i === length - 1) { %> 
                        <span id="add" class="add" onclick="addLine(this, getElementById('olIngredients'))">+</span>  
                        <span id="minus" class="minus" onclick="removeField(this, getElementById('olIngredients'))">-</span>
                        <% } else { %> 
                            <span id="add" class="add" style="display: none" onclick="addLine(this, getElementById('olIngredients'))">+</span>  
                            <span id="minus" class="minus" style="display: inline-block" onclick="removeField(this, getElementById('olIngredients'))">-</span>
                        <% } %> 
                    </div>
                </li>
        <% } %> 
    </ol>
</div>

<br>
    <h6>STEPS</h6>
    <hr>

<div id="divStepName">
    <span class="error"><p style="display: none" id="stepTitleTextarea_0_error"></p></span>
    <span class="error"><p style="display: none" id="stepTextarea_0_error"></p></span>
    <ol id="stepName">
        <% if (recipe.stepName.length == 0 ) { %> 
            <li class="liStepNum">
                <div class="grow-wrap">
                    <textarea id="stepTitleTextarea_<%=i%>" class="form-control stepGridAreaTitle" name="stepNameTitle[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Step title..."></textarea>
                    <textarea id="stepTextarea_<%=i%>" class="form-control stepGridArea" name="stepName[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Step instructions..."></textarea>
                    <span id="add" onclick="addLine(this, getElementById('stepName'))">+</span>  
                    <span id="minus" onclick="removeField(this, getElementById('stepName'))">-</span>
                </div>
            </li>
        <% } else { %> 
            <% } %> 

        <% for (var i = 0; i < recipe.stepName.length; i++) { %>
        <% const length = recipe.stepName.length %> 
        <li class="liStepNum">
            <div class="grow-wrap">
                <textarea id="stepTitleTextarea_0" class="form-control stepGridAreaTitle" name="stepNameTitle[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Step title..."><%= recipe.stepNameTitle[i] %></textarea>
                <textarea id="stepTextarea_0" class="form-control stepGridArea" name="stepName[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Step instructions..."><%= recipe.stepName[i]%></textarea>
                <% if (i === length - 1) { %> 
                    <span id="add" class="add" onclick="addLine(this, getElementById('stepName'))">+</span>  
                    <span id="minus" class="minus" onclick="removeField(this, getElementById('stepName'))">-</span>
                    <% } else { %> 
                        <span id="add" class="add" style="display: none" onclick="addLine(this, getElementById('stepName'))">+</span>  
                        <span id="minus" class="minus" style="display: inline-block" onclick="removeField(this, getElementById('stepName'))">-</span>
                    <% } %> 
            </div>
        </li>
        <% } %>
    </ol>
</div>        

<div class="form-group">
    <img id="editImage" style="max-height: 20em" src="<%=recipe.imageName%>">
</div>

<div id="imageUploadButtons" class="form-group">
    <button id="changeUploadBtn" type="button" class="btn btn-warning" style="display: inline">Select to Change Image</button>
    <button id="removeUploadBtn" type="button" class="btn btn-warning" style="display: none;">Select to keep existing image</button>
</div>

<!-- <div id="changeUpload" class="form-group">
    <img id="output"/>
    <input type="file" class="form-control" id="cover" name="cover" accept="image/*" onchange="loadFile(event)" style="display: none;">
    <span class="error"><p id="cover_error"></p></span>
    <span id="size"></span>
</div> -->

<div>
    <img id="preview"></img>
    <input type="file" id="cover" accept="image/*" name="cover">
    <span class="error"><p id="cover_error"></p></span>
    <span id="size"></span>
</div>

<div style="display: none" class="form-group">
    <h5 id="allergenString"><%=recipe.allergens%></h5>
</div>
