<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>

	<h1>Update Recipe Form</h1>
	<div class="container">
        <%- include('../partials/messages') -%>
        <%- include('./_form_fields') -%>
	</div>

    <%- include('./_scripts') -%>

    <%- include('../partials/footer') -%>

    
    