<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>

<br>
<%- include('../partials/messages') -%>

<!-- SLIDE TEST ---------------------------- -->
    <div class="splide bg-secondary">
        <div class="splide__slider">
            <div class="splide__track">
                <ul class="splide__list">
                    <% recipes.forEach(recipe => { %>
                        <!-- <li class="splide__slide"><a href="http://localhost:3003/recipes/<%= recipe.id %>"><img class="thumbnail" src="<%= recipe.imageName %>" alt="First slide" style="width: 200px; height: 200px; object-fit: cover;"><h8 style="display:block; text-align:center; padding: 2px;"><%=recipe.recipeName%></h8></li></a> -->
                        <li class="splide__slide"><a href="https://thisoldrecipe.herokuapp.com/recipes/<%= recipe.id %>"><img class="thumbnail" src="<%= recipe.imageName %>" alt="First slide" style="width: 200px; height: 200px; object-fit: cover;"><h8 style="display:block; text-align:center; padding: 2px;"><%=recipe.recipeName%></h8></li></a>
                    <% }) %>  
                </ul>
            </div>
        </div>
    </div> 
<div class="container mt-12">
    <!-- <h2 class="text-secondary">Recently Added Recipes</h2> -->
    <!-- <p>RECENTLY ADDED RECIPES</p> -->
    <div class="row form-group">
        <div class="col">
            <h2 style="margin-top: 10px; text-align: left; font-size: 1.5rem">All Recipes  </h2>
        </div>
        <!-- <div class="col">
           
        </div> -->
       
    </div>
    <div class="input-group mb-3"  style="padding-top: .5em">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Search Name</span>
        </div>
        <input id="search" name="search" onkeyup="query(getElementById('search'))" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>    
    <hr>
    <div class="container">
        
        <div id="cards" class="flex-parent">
            <% for (var i = 0; i < recipes.length; i++) { %>
                    <div class="flex-item">
                        <a href="/recipes/<%= recipes[i].id %>">
                            <img class="thumbnail" src="<%= recipes[i].imageName %>">
                            <br>
                            <h8 id="recipeName_<%i%>"><%=recipes[i].recipeName%></h8>
                        </a>
                    </div>
            <% } %> 
            <p id="noResults" style="display: none">There are no recipe names that match your search.</p>
      </div>
    </div>
</div>

</div>

<script>


function query(searchValue) {
    let search = searchValue.value.toLowerCase();
    console.log(search);

    let cards = document.getElementsByClassName('flex-item');
    let noResults = document.getElementById('noResults')
    let array = [];
    for (var i = 0; i < cards.length; i++) {
        let card = cards[i].innerText.toLowerCase();
        let cardAttribute = cards[i].style.display;
        if (card.includes(search)) {
            cards[i].setAttribute('style', 'display: inline')
        } else {
            cards[i].setAttribute('style', 'display: none')
        }
        let nodeValue = cards[i].attributes.style.nodeValue;
        array.push(nodeValue);
    }
    if (array.includes('display: inline')) {
        noResults.setAttribute('style', 'display: none')
        } else {
            noResults.setAttribute('style', 'display: inline')
        }
}



    const splide = new Splide('.splide', {
    type: 'loop', //slide, loop, fade
    padding: { y: 10 }, //css values
    gap: '5px', // 1 rem default
    rewind: true,
    speed: 500, //transition in milliseconds
    // fixedWidth: '10vw',
    // width: 1000,
    width: '100vw',
    // heightRatio : 0.3,
    perPage: 5,
    // start: 1,
    perMove: 1,
    autoplay: 'true',
    interval: 3000,
    // arrows: false,
    // pagination: false,
    isNavigation: true,
    pauseOnHover: true,
    wheel: true,
    // height   : '10rem',
    focus: 'center',
    autoWidth: true,
    // autoHeight: true
  });
  splide.mount();
  
</script>

<%- include('../partials/footer') -%>



  