<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>

<br>
<%- include('../partials/messages') -%>

<!-- SLIDE TEST ---------------------------- -->
    <div class="splide bg-secondary">
        <div class="splide__slider">
            <div class="splide__track">
                <ul class="splide__list">
                    <% recipes.forEach(recipe => { %>
                        <li class="splide__slide"><a href="http://localhost:3003/recipes/<%= recipe.id %>"><img src="<%= recipe.imageName %>" alt="First slide" style="width: 200px; height: 300px; object-fit: cover;"></li></a>
                    <% }) %>  
                        <!-- <li class="splide__slide"><img src="images/celestia-dristi_tn.svg" alt="dristi"></li> -->
                        <!-- <li class="splide__slide">Slide 01</li>
                        <li class="splide__slide">Slide 02</li>
                        <li class="splide__slide">Slide 03</li> -->
                </ul>
            </div>
        </div>
    </div> 
<div class="container mt-12">
    <!-- <h2 class="text-secondary">Recently Added Recipes</h2> -->
    <!-- <p>RECENTLY ADDED RECIPES</p> -->
    
    <h2 style="margin-top: 10px; text-align: center; font-size: 1.5rem"><%= user.name %>'s Recipes</h2>
    <hr>
    <div class="container">
        
        <div class="flex-parent">
            <% for (var i = 0; i < recipes.length; i++) { %>
                <% if (recipes[i].author == user.name) { %> 
                    <div class="flex-item">
                        <a href="/recipes/<%= recipes[i].id %>">
                            <img src="<%= recipes[i].imageName %>">
                            <br>
                            <h8><%=recipes[i].recipeName%></h8>
                        </a>
                    </div>
                <% } %> 
            <% } %> 
      </div>
    </div>
</div>














    <!-- GRID GRID X FROM TREEHOUSE RECIPE BOX -->
    <!-- <header class="grid-container intro">
        <h2>Recently added by: <%= user.name %></h2>
    </header>
    <div class="grid-container grid-x grid-margin-x medium-up-2 large-up-3">
            <% recipes.forEach(recipe => { %>
                <% if (recipe.author === user.name) { %>
                        <a class="cell" href="/recipes/<%= recipe.id %>">
                        <img class="thumbnail" src="<%= recipe.imageName %>">
                        <div class="thumbnailTitle">
                            <h5 style="text-align: center;"><%=recipe.recipeName%></h5>
                            <p style="display: inline; text-align: center;">Recipe by: <%=recipe.author%></p>
                        </div>
                        </a>
                <% } %>
            <% }) %>

    </div>

    <header class="grid-container intro">
        <h2>Recently added:</h2>
    </header>
    <div class="grid-container grid-x grid-margin-x medium-up-2 large-up-3">
            <% recipes.forEach(recipe => { %>
                    <a class="cell" href="/recipes/<%= recipe.id %>">
                    <img class="thumbnail" src="<%= recipe.imageName %>">
                    <h5>Recipe by: <%=recipe.author%></h5>
                    </a>
            <% }) %>

    </div> -->


</div>

<script>
    const splide = new Splide('.splide', {
    type: 'loop', //slide, loop, fade
    padding: { y: 10 }, //css values
    gap: '5px', // 1 rem default
    rewind: true,
    speed: 500, //transition in milliseconds
    // fixedWidth: '10vw',
    // width: 1000,
    width: '100vw',
    // heightRatio : 0.3,
    perPage: 5,
    // start: 1,
    perMove: 1,
    autoplay: 'true',
    interval: 3000,
    // arrows: false,
    // pagination: false,
    isNavigation: true,
    pauseOnHover: true,
    wheel: true,
    // height   : '10rem',
    focus: 'center',
    autoWidth: true,
    autoHeight: true
  });
  splide.mount();
  
</script>

<%- include('../partials/footer') -%>



  