<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>



<%- include('../partials/messages') -%>


<div>
	<a id="backArrow" class="fa fa-arrow-circle-left backArrow" href="/recipes"></a>
</div>


	<div class="showCard showBackground">

		<div id="showBar" class="showBarCategory"><i><%= recipe.category %> </i>
		</div>
		<div class="container showIndexCard">
			<div class="row">
				<div class="col padLeftNone"style="margin-bottom: 20px;">
					<h3 id="title" class="showRecipeTitle"><%= recipe.recipeName %></h3>
					<h8><i>Author: <%= recipe.author %></i></h8>
				</div>
			</div>
			<div class="row">
				<div class="col-6 padLeftNone">
					<div class="row" style="margin-top: 20px;">
						<!-- <div class="col-4 showIconsCol"><img src="/images/recipeIcons/timer-01.png" class="showIcons"></div>  -->
						<div class="col-4 showIconsCol"><i id="farClock" class='far fa-clock showIcons'></i></div>
						<div class="col showTimerServe">Time</div>
						</div>  
		
					<div class="row" style="margin-top: 20px;"> 
							<!-- <div class="col-4 showIconsCol"><img src="/images/recipeIcons/serving-01.png" class="showIcons"></div>  -->
							<div class="col-4 showIconsCol"><i id="farServe" class='fas fa-hard-hat showIcons'></i></div>
							<!-- <div class="col-4 showIconsCol"><i id="farClock" class='fa-solid fa-plate-utensils'></i><i class="fa-solid fa-plate-utensils"></i></div> -->

							<div class="col showTimerServe">Servings</div>
					</div>
				</div>
				<div class="col"> 
					<img src="<%= recipe.imageName %>" alt="recipe image" class="showRecipeImg">
				</div> 
			</div>
			<div class="row">
				<div class="col padLeftNone">
					<h5 id="ingredientsTitle" class="showInstructions">Ingredients</h5>
				</div>
			</div>

				<% for (var i = 0; i < recipe.ingredients.length; i++) { %>
					<% if (recipe.ingredients[i] !== "") {%> 
						<div class="row">
							<div class="col-4 padLeftNone showIngredients"><b><%= recipe.amount[i] %></b></div>
							<div class="col padLeftNone showIngredients"><b><%= recipe.ingredients[i] %></b></div>
						</div>
						<% } else { %> 
							<%  %> 
						<% } %> 
				<% } %>

				<div class="row"></div>

				<div class="row">
					<div class="col padLeftNone">
						<h5 id="directionsTitle" class="showInstructions">Directions</h5>
					</div>
				</div>

				<% for (var i = 0; i < recipe.stepName.length; i++) { %>
					<% if (recipe.stepNameTitle[i] !== "") { %> 
						<div class="row">
							<div class="col-1 padLeftNone showDirectionsNum"><%=i+1%></div>
							<div class="col padLeftNone showDirectionsP" id="stepName_<%=i%>"><%= recipe.stepName[i] %></div>
						</div>
						<% } else { %>
					<% } %>
				<% } %>
				<div class="row">
					<h5 id="titleCategory" class="padLeftNone showInstructions">Sub Categories</h5>
					<ul class="padLeftNone">
						<% for (var i = 0; i < recipe.category.length; i++) { %>
						<li style="display: inline-block;"><%= recipe.category[i]%>&nbsp;&nbsp;</li>
						<% } %>
					</ul>
			
						<% if (recipe.allergens.length !== 0) { %>
							<h5 id="titleAllergens" class="padLeftNone showInstructions">Allergens</h5>
							<ul class="padLeftNone">
								<% for (var i = 0; i < recipe.allergens.length; i++) { %>
								<li style="display: inline-block"><%= recipe.allergens[i]%>&nbsp;&nbsp;</li>
								<% } %>
							</ul>
						<% } else { %> 
								<h5 id="titleAllergens" class="padLeftNone showInstructions">Allergens</h5>
								<h6 class="padLeftNone">This Recipe has no known Allergens. Consume at your own risk!</h6>
							
							<br>
						<% } %>
	
	
				</div>
		</div>
		

		<div class="row">
			<div class="editButtons">

			<div class="editButtons">
				<% if (recipe.author === user.name || user.role == "admin") { %>
					<a class="btn btn-warning" href="/recipes/<%= recipe.id %>/edit">Edit</a>
					<% } else { %>
					<% } %>		
			</div>
			<div class="editButtons">
				<%- include('../partials/deleteForm', { url: `/recipes/${recipe._id}` }) -%>
			</div>
		</div>
	</div>


    </div>

	<%- include('../partials/comments') -%>


	<script>	
        var showBar = document.getElementById('showBar').textContent.trim();
		const category = ["Appetizer", "Baked-goods", "Bread", "Breakfast", "Cookies", "Dessert", "Dinner", "Lunch", "Snack", "Soup \& Salad"];
		const color = ["SteelBlue", "Brown", "SaddleBrown", "DarkGreen", "DarkMagenta", "DarkSlateGray", "DarkBlue", "DarkRed", "Chocolate", "DarkOliveGreen"];


		function showBarColor(showBar, category, color, colorComments) {
			if (showBar.includes(category)) {
				document.getElementById('showBar').setAttribute("style", `background-color: ${color};`);
				document.getElementById('title').setAttribute("style", `color: ${color};`);
				document.getElementById('farClock').setAttribute("style", `color: ${color};`);
				document.getElementById('farServe').setAttribute("style", `color: ${color};`);
				document.getElementById('backArrow').setAttribute("style", `color: ${color} !important`);
				document.getElementById('cardComments').setAttribute("style", `background-color: ${color} !important; color: white;`);




				const showDirectionsNum = document.querySelectorAll('.showDirectionsNum');
					for (var i=0; i < showDirectionsNum.length; i++) {
    					showDirectionsNum[i].setAttribute("style", `border-bottom: 1pt solid ${color}; color: ${color};`);
						};
				const showIngredients = document.querySelectorAll('.showIngredients');
					for (var i=0; i < showIngredients.length; i++) {
    					showIngredients[i].setAttribute("style", `border-bottom: 1pt solid ${color};`);
						};
				const showDirectionsP = document.querySelectorAll('.showDirectionsP');
					for (var i=0; i < showDirectionsP.length; i++) {
    					showDirectionsP[i].setAttribute("style", `border-bottom: 1pt solid ${color};`);
						};
				const showInstructions = document.querySelectorAll('.showInstructions');
					for (var i=0; i < showInstructions.length; i++) {
    					showInstructions[i].setAttribute("style", `color: ${color};`);
					}


					// document.getElementById('titleAllergens').setAttribute("style", `color: ${color};`);
				document.getElementById('titleAllergens').setAttribute("style", `color: ${color};padding-top: 0px !important`);
			}
		}

		function colorChange() {
			for (i=0; i < category.length; i++) {
				showBarColor(showBar, category[i], color[i]);
			}
		}

		colorChange();




		

	</script>


<%- include('../partials/footer') -%>

