<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>






<!-- TREEHOUSE RECIPE BOX -->

<%- include('../partials/messages') -%>

<div class="jumbotron" style="background: none !important; padding-top: 20px;">
    <div class="container" style="border-style: solid; border-color: rgb(157, 157, 157); border-radius: .5em; border-width: 3px;">
        <div class="row align-items-center" style="margin-bottom: 15px;">
			<h2 class="display-4" style="text-align: center"><%= recipe.recipeName %></h2>
			<h6 style="text-align:center">Author: <%= recipe.author %></h6>
		</div>
		
		<div class="row align-items-center">

            <div class="col" style="text-align: center;">
				<img style="margin: 10px 0px 25px 0px; width: 100%; height: 100%; min-width: 225px; max-height: 400px; object-fit: cover; display: inline-block; align-items: center;" src="<%=recipe.imageName%>">
				<div class="row">
					<div class="col" style="text-align: left; margin: 10px; padding: 0px;">
						<a class="btn btn-warning btn-block" href="/recipes">Back</a>
					</div>
					<div class="col" style="text-align: left; margin: 10px; padding: 0px;">
						<% if (recipe.author === user.name || user.role == "admin") { %>
							<a class="btn btn-warning btn-block" href="/recipes/<%= recipe.id %>/edit">Edit</a>
							<% } else { %>
							<% } %>		
					</div>
					<div class="col" style="text-align: right; margin: 10px; padding: 0px;">
						<%- include('../partials/deleteForm', { url: `/recipes/${recipe._id}` }) -%>
					</div>
				</div>
            </div>


            <div class="col">

				<div style="margin: 20px">
					<h6><b>Categories</b></h6>
					<hr style="height:1px;border:none;color:#333;background-color:#333;" >
					<ul>
						<% for (var i = 0; i < recipe.category.length; i++) { %>
						<li style="display: inline-block"><%= recipe.category[i]%>, </li>
						<% } %>
					</ul>
			
						<% if (recipe.allergens.length !== 0) { %>
							<h6><b>Allergens</b></h6>
							<hr style="height:1px;border:none;color:#333;background-color:#333;" >
							<ul>
								<% for (var i = 0; i < recipe.allergens.length; i++) { %>
								<li style="display: inline-block"><%= recipe.allergens[i]%>, </li>
								<% } %>
							</ul>
						<% } else { %> 
							<div>
								<h6><b>Allergens</b></h6>
								<hr style="height:1px;border:none;color:#333;background-color:#333;" >
								<h6>This Recipe has no known Allergens. Consume at your own risk!</h6>
							</div>
							<br>
						<% } %>
						
						<h6><b>Ingredients</b></h6>
						<hr style="height:1px;border:none;color:#333;background-color:#333;" >
						<ul style="padding: 0px">
							<% for (var i = 0; i < recipe.ingredients.length; i++) { %>
								<% if (recipe.ingredients[i] !== "") {%> 
									<li id="ingredient_<%=i%>" style="list-style: none"><%= recipe.ingredients[i] %> - <%= recipe.amount[i] %></li>
									<% } else { %> 
										<%  %> 
									<% } %> 
							<% } %>
						</ul>
						<h6 class="showStepsHeader"><b>Steps</b></h6>
						<hr style="height:1px;border:none;color:#333;background-color:#333;" >
						<div class="showSteps">
							<ol>
								<% for (var i = 0; i < recipe.stepName.length; i++) { %>
									<% if (recipe.stepNameTitle[i] !== "") { %> 
										<li id="stepNameTitle_<%=i%>" class="liStep"><b><%= recipe.stepNameTitle[i] %></b></li>
										<li id="stepName_<%=i%>"  style="padding: 0px 0px 0px 30px"><%= recipe.stepName[i] %></li><br>
									<% } else { %>
									<% } %>
								<% } %>
							</ol>	
						</div>
				</div>
				
            </div>

           


        </div>
    
    </div>

</div>


	<%- include('../partials/footer') -%>

