<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>


<div class="notes">
    <!-- Displaying content with JavaScript -->
</div>

<div class="container" style="margin-top: 1em">
    <h1>Create New Recipe</h1>
    <hr>
    <%- include('../partials/messages') -%>

    <form id="newForm" action="/recipes/test" method="POST" enctype="multipart/form-data">
        <div>
            <label for="recipeName">Recipe Name</label>
            <input type="text" id="recipeName" class="form-control" placeholder="Recipe Name" value="" name="recipeName"> <span class="error"><p id="recipeName_error"></p></span>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" value="<%=user.name%>" name="author" readonly> <span class="error"><p id="author_error"></p></span>
        </div>
        <div>
            <h8>ALLERGENS</h8>
            <br>
            <select name="allergens" id="allergens" class="form-control selectpicker" multiple data-live-search="true" data-width="fit">

            <!-- <select name="allergens" id="allergens" class="selectpicker" multiple data-live-search="true" data-width="fit"> -->
                <option value="dairy">DAIRY</option>
                <option value="fish">FISH</option>
                <option value="gluten">GLUTEN</option>
                <option value="nuts">NUTS</option>
                <option value="shellfish">SHELLFISH</option>
                <option value="eggs">EGGS</option>
                <option value="meat">MEAT</option>
              </select>
        </div>
        <br>
        <div>
            <h8>INGREDIENTS</h8>
            <hr>
            <ol id="olIngredients">
                <li>
                    <div class="ingredients">
                        <label>Ingredient</label>
                        <label>Amount</label>
                        <input id="ingredients" class="form-control ingGridArea" type="text" name="ingredients[]">
                        <input id="amount" class="form-control amountGridArea" type="text" name="amount[]">
                        <span id="add" onclick="addLine(this, getElementById('olIngredients'))">+</span>  
                        <span id="minus" onclick="removeField(this)">-</span>
                    </div>
                </li>
            </ol>
            <span class="error"><p style="display: none" id="ingredients_error">Please add ingredient and amount before adding another line.</p></span>
        </div>
        <br>
        <div>
            <h6>STEPS</h6>
            <hr>
            <ol id="stepName">
                <li class="liStepNum">
                    <div class="grow-wrap">
                        <textarea id="stepTitleTextarea" class="form-control stepGridAreaTitle" name="stepNameTitle[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Step title..."></textarea>
                        <textarea id="stepTextarea" class="form-control stepGridArea" name="stepName[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Step instructions..."></textarea>
                        <span id="add" onclick="addLine(this, getElementById('stepName'))">+</span>  
                        <span id="minus" onclick="removeField(this)">-</span>
                    </div>
                    <span class="error">
                        <p style="display: none" id="stepTitleTextarea_error">Please add at least one step Title</p>
                        <p style="display: none" id="stepTextarea_error">Please add at least one step</p>
                    </span>
                </li>
            </ol>
        </div>
        <div id="upload">
            <label for="cover">Upload Image</label>
            <input type="file" id="cover" name="cover"> <span class="error"><p id="cover_error"></p></span>
        </div>
        
            <button class="btn btn-success" type="submit">SUBMIT</button>
    </form>
</div>




<!-- TEST -------------------------------------------------------------- -->
<!-- 

<div class="container py-4">
    <div class="row">
      <div class="col-md-12 form_sec_outer_task border">
        <div class="row">
          <div class="col-md-12 bg-light p-2 mb-3">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="frm_section_n">Form Title</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>Mobile No.</label>
          </div>
          <div class="col-md-4">
            <label> Type </label>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="col-md-12 form_field_outer p-0">
            <div class="row form_field_outer_row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control w_90" name="stepNameTitle[]" id="stepNameTitle_no_1" placeholder="Enter mobiel no." />
              </div>
              <div class="form-group col-md-4">
                <textarea name="stepName[]" id="stepName_no_1" class="form-control"></textarea>
              </div>
              <div class="form-group col-md-2 add_del_btn_outer">
                <button class="btn_round add_node_btn_frm_field" title="Copy or clone this row">
                  <i class="fas fa-copy"></i>
                </button>
  
                <button class="btn_round remove_node_btn_frm_field" disabled>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ml-0 bg-light mt-3 border py-3">
        <div class="col-md-12">
          <button class="btn btn-outline-lite py-0 add_new_frm_field_btn"><i class="fas fa-plus add_icon"></i> Add New field row</button>
        </div>
      </div>
    </div>
  </div>

 -->


<!-- TEST -------------------------------------------------------------- -->




<script>
    document.getElementById("newForm").onsubmit = function () {
        var x = document.forms["newForm"]["recipeName"].value;
        var y = document.forms["newForm"]["author"].value;
        var z = document.forms["newForm"]["allergens"].value;
        var a = document.forms["newForm"]["ingredients"].value;
        var b = document.forms["newForm"]["stepTextarea"].value;
        var bb = document.forms["newForm"]["stepTitleTextarea"].value;
        var d = document.forms["newForm"]["cover"].value;
        var submit = true;
        var numInputsIng =  $(":input[id^=ingredients]").length
        console.log("numInputsIng - " + numInputsIng)
        var numInputsStep =  $(":input[id^=stepTextarea]").length
        console.log("numInputsStep - " + numInputsStep)
        // var count = document.getElementById("stepOL").length;
        // console.log(count);
        var numInputsStepTitle =  $(":input[id^=stepTitleTextarea]").length
        console.log("numInputsStepTitle - " + numInputsStepTitle)

        
        const olCount = document.getElementById("stepName");
        let liNodes = [];

        
            for (var i = 0; i < olCount.childNodes.length; i++) {
            if (olCount.childNodes[i].nodeName == "LI") {
                liNodes.push(olCount.childNodes[i]);
            }
        }

        console.log(liNodes.length)

        if (a == null || x == "") {
            recipeNameError = "Please enter ingredient";
            document.getElementById("ingredients_error").innerHTML = recipeNameError;
            submit = false;
        }

        if (x == null || x == "") {
            recipeNameError = "Please enter recipe name";
            document.getElementById("recipeName_error").innerHTML = recipeNameError;
            submit = false;
        }

        if (y == null || y == "") {
            authorError = "Please enter your name";
            document.getElementById("author_error").innerHTML = authorError;
            submit = false;
        }
        if (numInputsIng < 2 && a == "") {
            ingredientsError = document.getElementById("ingredients_error")
            ingredientsError.setAttribute("style", "display: block");
            submit = false;
        }

        if (numInputsStep < 2 && b == "") {
            stepNameError = document.getElementById("stepTextarea_error")
            stepNameError.setAttribute("style", "display: block");
            submit = false;
        }
        if (numInputsStepTitle < 2 && bb == "") {
            stepTitleNameError = document.getElementById("stepTitleTextarea_error")
            stepTitleNameError.setAttribute("style", "display: block");
            submit = false;
        }
        // if (liNodes.length < 2 && bb == "") {
        //     stepNameErrorOL = document.getElementById("stepNameOL_error")
        //     stepNameErrorOL.setAttribute("style", "display: block");
        //     submit = false;
        // }
        // if (c == null || c == "") {
        //     stepDescriptionError = "Please enter at least one recipe step description";
        //     document.getElementById("stepDescription_error").innerHTML = stepDescriptionError;
        //     submit = false;
        // }

        if(d == null || d == "") {
            coverError = "Please select an image";
            document.getElementById("cover_error").innerHTML = coverError;
            submit = false;
        }

        return submit;
    }

    function removeWarning() {
        input = document.getElementById(this.id + "_error");
        input.setAttribute("style", "display: none");
    }
    
    document.getElementById("recipeName").onkeyup = removeWarning;
    document.getElementById("author").onkeyup = removeWarning;
    document.getElementById("ingredients").onchange = removeWarning;
    document.getElementById("stepTextarea").onkeyup = removeWarning;
    document.getElementById("stepTitleTextarea").onkeyup = removeWarning;
    document.getElementById("cover").onchange = removeWarning;

</script>

<%- include('../partials/footer') -%>