<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>






<h1>!!!!!!!!!UPLOAD SUCCESS SUCCESS!!!!!!!</h1>









<div class="container" style="margin-top: 1em">
    <h1>Create New Recipe</h1>
    <hr>
    <%- include('../partials/messages') -%>

    <form id="newForm" action="/recipes/test" method="POST" enctype="multipart/form-data">
        <div>
            <label for="recipeName">Recipe Name</label>
            <input type="text" id="recipeName" class="form-control" placeholder="Recipe Name" value="" name="recipeName"> <span class="error"><p id="recipeName_error"></p></span>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" value="<%=user.name%>" name="author" readonly> <span class="error"><p id="author_error"></p></span>
        </div>
        <div>
            <h8>ALLERGENS</h8>
            <br>
            <select name="allergens" id="allergens" class="form-control selectpicker" multiple data-live-search="true" data-width="fit">

            <!-- <select name="allergens" id="allergens" class="selectpicker" multiple data-live-search="true" data-width="fit"> -->
                <option value="dairy">DAIRY</option>
                <option value="fish">FISH</option>
                <option value="gluten">GLUTEN</option>
                <option value="nuts">NUTS</option>
                <option value="shellfish">SHELLFISH</option>
                <option value="eggs">EGGS</option>
                <option value="meat">MEAT</option>
              </select>
        </div>
        <br>
        <div>
            <h8>INGREDIENTS</h8>
            <hr>
            <ol id="olIngredients">
                <li>
                    <div class="ingredients">
                        <label>Ingredient</label>
                        <label>Amount</label>
                        <input id="ingredients" class="form-control ingGridArea" type="text" name="ingredients[]">
                        <input id="amount" class="form-control amountGridArea" type="text" name="amount[]">
                        <span id="add" onclick="addLine(this, getElementById('olIngredients'))">+</span>  
                        <span id="minus" onclick="removeField(this)">-</span>
                    </div>
                </li>
            </ol>
            <span class="error"><p style="display: none" id="ingredients_error">Please add ingredient and amount before adding another line.</p></span>
        </div>
        <br>
        <div>
            <h6>STEPS</h6>
            <hr>
            <ol id="stepName">
                <li class="liStepNum">
                    <div class="grow-wrap">
                        <textarea id="stepTitleTextarea" class="form-control stepGridAreaTitle" name="stepNameTitle[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Step title..."></textarea>
                        <textarea id="stepTextarea" class="form-control stepGridArea" name="stepName[]" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Step instructions..."></textarea>
                        <span id="add" onclick="addLine(this, getElementById('stepName'))">+</span>  
                        <span id="minus" onclick="removeField(this)">-</span>
                    </div>
                    <span class="error">
                        <p style="display: none" id="stepTitleTextarea_error">Please add at least one step Title</p>
                        <p style="display: none" id="stepTextarea_error">Please add at least one step</p>
                    </span>
                </li>
            </ol>
        </div>

        <div id="upload">
          <label for="cover">Upload Image</label>
          <div class="row">
                <img id="output"/>
          </div>
          <div class="row">
            <div class="col">
              <span id="size"></span>
              <span class="error"><p id="cover_error"></p></span>
            </div>
          </div>
          <div class="row">
            <input type="file" class="form-control" id="cover" name="cover" accept="image/*" onchange="loadFile(event)">
          </div>
        </div>
        <div class="row">
          <button class="btn btn-success" type="submit">SUBMIT</button>
        </div>
    </form>
</div>






<script>
    document.getElementById("newForm").onsubmit = function () {
        var x = document.forms["newForm"]["recipeName"].value;
        var y = document.forms["newForm"]["author"].value;
        var z = document.forms["newForm"]["allergens"].value;
        var a = document.forms["newForm"]["ingredients"].value;
        var b = document.forms["newForm"]["stepTextarea"].value;
        var bb = document.forms["newForm"]["stepTitleTextarea"].value;
        var d = document.forms["newForm"]["cover"].value;
        var submit = true;
        var numInputsIng =  $(":input[id^=ingredients]").length
        console.log("numInputsIng - " + numInputsIng)
        var numInputsStep =  $(":input[id^=stepTextarea]").length
        console.log("numInputsStep - " + numInputsStep)
        // var count = document.getElementById("stepOL").length;
        // console.log(count);
        var numInputsStepTitle =  $(":input[id^=stepTitleTextarea]").length
        console.log("numInputsStepTitle - " + numInputsStepTitle)

        
        const olCount = document.getElementById("stepName");
        let liNodes = [];

        
            for (var i = 0; i < olCount.childNodes.length; i++) {
            if (olCount.childNodes[i].nodeName == "LI") {
                liNodes.push(olCount.childNodes[i]);
            }
        }

        console.log(liNodes.length)

        if (a == null || x == "") {
            recipeNameError = "Please enter ingredient";
            document.getElementById("ingredients_error").innerHTML = recipeNameError;
            submit = false;
        }

        if (x == null || x == "") {
            recipeNameError = "Please enter recipe name";
            document.getElementById("recipeName_error").innerHTML = recipeNameError;
            submit = false;
        }

        if (y == null || y == "") {
            authorError = "Please enter your name";
            document.getElementById("author_error").innerHTML = authorError;
            submit = false;
        }
        if (numInputsIng < 2 && a == "") {
            ingredientsError = document.getElementById("ingredients_error")
            ingredientsError.setAttribute("style", "display: block");
            submit = false;
        }

        if (numInputsStep < 2 && b == "") {
            stepNameError = document.getElementById("stepTextarea_error")
            stepNameError.setAttribute("style", "display: block");
            submit = false;
        }
        if (numInputsStepTitle < 2 && bb == "") {
            stepTitleNameError = document.getElementById("stepTitleTextarea_error")
            stepTitleNameError.setAttribute("style", "display: block");
            submit = false;
        }
        // if (liNodes.length < 2 && bb == "") {
        //     stepNameErrorOL = document.getElementById("stepNameOL_error")
        //     stepNameErrorOL.setAttribute("style", "display: block");
        //     submit = false;
        // }
        // if (c == null || c == "") {
        //     stepDescriptionError = "Please enter at least one recipe step description";
        //     document.getElementById("stepDescription_error").innerHTML = stepDescriptionError;
        //     submit = false;
        // }

        if(d == null || d == "") {
            coverError = "Please select an image";
            document.getElementById("cover_error").innerHTML = coverError;
            submit = false;
        }

        return submit;
    }

    function removeWarning() {
        input = document.getElementById(this.id + "_error");
        input.setAttribute("style", "display: none");
        this.setAttribute("style", "border-width: ");
        this.setAttribute("style", "border-color: ");
    }
    
    document.getElementById("recipeName").onkeyup = removeWarning;
    document.getElementById("author").onkeyup = removeWarning;
    document.getElementById("ingredients").onchange = removeWarning;
    document.getElementById("stepTextarea").onkeyup = removeWarning;
    document.getElementById("stepTitleTextarea").onkeyup = removeWarning;
    document.getElementById("cover").onchange = removeWarning;






    var loadFile = function(event) {
      console.log("loadFile activated!")
    var output = document.getElementById('output');
    // output.setAttribute("style", "display:inline");
    // output.setAttribute("style", "max-height: 20em");
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
    fileValidation();
  };

    fileValidation = () => {
    console.log("fileValidation Activated");
        let fi = document.getElementById('cover');
        let img = document.getElementById('output')
        let size = document.getElementById('size')
        if (fi.files.length > 0) {
            for (let i = 0; i <= fi.files.length - 1; i++) {
 
                const fsize = fi.files.item(i).size;
                const file = Math.round((fsize / 1024));
                // The size of the file.
                if (file >= 2096) {
                    alert(
                      "File too Big, please select a file less than 2mb");
                      fi.value = "";
                      img.src = "";
                      size.innerHTML = "";
                } else {
                    input = document.getElementById("cover_error").innerHTML = "";
                    fi.style.borderWidth = ""
                    fi.style.borderColor = ""
                    document.getElementById('size').innerHTML = 'File size: <b>'
                    + file + '</b> KB';
                }
            }
        }
    }

</script>

<%- include('../partials/footer') -%>